<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        <li th:each="item : ${items}">
            <p>이름: <span th:text="${item.title}">Item Name</span></p>
            <p>위치: 
                <span th:text="${item.origin != null ? item.origin.street : 'N/A'}">Street</span>, 
                <span th:text="${item.origin != null ? item.origin.city : 'N/A'}">City</span>, 
                <span th:text="${item.origin != null ? item.origin.zipCode : 'N/A'}">Zip Code</span>
            </p>
            <p>판매자: <span th:text="${item.sellerName != null ? item.sellerName : 'N/A'}">Seller Name</span></p>
            <p>가격: <span th:text="${item.price}">Item Price</span> 원</p>
            <p>카테고리: <span th:text="${item.categoryName != null ? item.categoryName : 'N/A'}">Category Name</span></p>
            <p>부모 카테고리: <span th:text="${item.parentCategoryName != null ? item.parentCategoryName : '없음'}">Parent Category Name</span></p>
            <!-- 수정 버튼: 본인이 작성한 아이템에만 표시 -->
			<button th:if="${item.sellerEmail != null and #authentication != null and item.sellerEmail == #authentication.name}" 
			                   class="btn btn-primary edit-button" style="margin-top: 8px;" 
			                   th:attr="data-id=${item.id}">수정</button>
		    <button class="btn btn-primary chat-button" style="margin-top: 8px;" 
		            th:attr="data-item-id=${item.id}">채팅</button>
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(items)}">등록된 아이템이 없습니다.</p>
</body>

<script>
    // DOMContentLoaded 이벤트로 JavaScript 실행
    document.addEventListener('DOMContentLoaded', function () {
        // 모든 수정 버튼에 클릭 이벤트 추가
        const editButtons = document.querySelectorAll('.edit-button');
        editButtons.forEach(button => {
            button.addEventListener('click', function () {
                const itemId = this.getAttribute('data-id'); // data-id 속성에서 ID 가져오기
                window.location.href = '/items/edit/' + itemId; // 수정 페이지로 이동
            });
        });
		
		// 모든 채팅 버튼에 클릭 이벤트 추가
	    const chatButtons = document.querySelectorAll('.chat-button');
	    chatButtons.forEach(button => {
	        button.addEventListener('click', function () {
	            const itemId = this.getAttribute('data-item-id'); // data-item-id 속성에서 아이템 ID 가져오기
	            window.location.href = `/chat/${itemId}`; // 채팅방 페이지로 이동
	        });
	    });
    });
</script>
</html>